body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;

}

div {
    color: blue;
}

body {
    display: flex;
    justify-content: center;
}


main {
    height: 100%;
    width: 868px;
    display: grid;
    grid-template-columns: 20% 55% 25%;
    grid-gap: 20px;
}

.left {
    display: grid;
    background-color: lightgrey;
    grid-template-rows: 60px 45px 40px 140px 195px 195px;
}

.right {
    display: grid;
    background-color: lightgrey;
    grid-template-rows: 45px 25px 25px 25px 25px 25px;

}

.big-middle {
    display: grid;
    grid-template-columns: 1fr 1fr .5fr;
    grid-gap: 20px;
}

.middle {
    display: grid;
    grid-template-rows: 45px 1fr;
}
.hportland{
    display:grid;
    -ms-flex-align: center;
    grid-template-columns: 35% 65%;

}
.portland{
    height:40px;
    width: 477.39px;
    display: flex;
    justify-content: right;
    justify-content: center;

}
.hnums{
    display:grid;
    grid-template-rows: 1/7%;
    
}